<%= form_for [@volunteer] ,html: {role: "form"} do |f| %>
	<div class="form-group">
		<%= f.label :phone %><br />
		<%= f.text_field :phone, class: "form-control required", 'data-name': "phone" %>
	</div>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email, class: "form-control required", 'data-name': "email" %>
	</div>
	<div class="parent">
		<div class="dynamic_data">
		</div>
	</div>
	<%= f.submit "Save", class: "btn submit btn-primary" %>
<% end %>

<%= javascript_tag do %>
	$(document).ready(function(){
		var obj = <%= raw @fields.to_json %>;
		for(count = 0; count < obj.length; count++){
			_id = Math.floor((Math.random()*10000002000000));
			var val = obj[count];
			if(val.required){
				var required = "required";
			}else{
				var required = "";
			}
			if(val.type=="boolean"){
					html = '<div class="form-group"\
						<label for="volunteer_email">'+val.name+'</label>\
						<input class="form-control bool form_el '+required+'" id='+_id+' placeholder="'+val.name+'" type="text" data-name="'+val.name+'" name="volunteer[dynamic_fields]['+val.name+']">\
					</div>';
				$('.dynamic_data').after(html);
				$('.parent').find("#"+_id).select2({
					multiple: false,
					data: [{id: "false", text: "No"}, {id: "true", text: "Yes"}]
				});
			}else if(val.type=="single_select"){
				html = '<div class="form-group">\
						<label for="volunteer_email">'+val.name+'</label>\
						<input class="form-control ss form_el '+required+'" data-val='+val.data+' id='+_id+' placeholder="'+val.name+'" data-name="'+val.name+'" type="text" name="volunteer[dynamic_fields]['+val.name+']">\
					</div>'
				$('.dynamic_data').after(html);
				$self = $('.parent').find("#"+_id);
				var construct = [];
				for(c = 0; c < val.data.split(",").length; c++){
					var d = val.data.split(",")[c];
					construct.push({id: d, text: d});
				}
				$self.select2({
					multiple: false,
					data: construct
				});
			}else if(val.type=="multi_select"){
				html = '<div class="form-group">\
						<label for="volunteer_email">'+val.name+'</label>\
						<input class="form-control ss form_el '+required+'" data-val='+val.data+' id='+_id+' placeholder="'+val.name+'" data-name="'+val.name+'" type="text" name="volunteer[dynamic_fields]['+val.name+']">\
					</div>'
				$('.dynamic_data').after(html);
				$self = $('.parent').find("#"+_id);
				var construct1 = [];
				for(c = 0; c < val.data.split(",").length; c++){
					var d = val.data.split(",")[c];
					construct1.push({id: d, text: d});
				}
				$self.select2({
					multiple: true,
					data: construct1
				});
			}else{
				html = '<div class="form-group">\
						<label for="volunteer_email">'+val.name+'</label>\
						<input class="form-control ss form_el" data-val='+val.data+' required="'+required+'" id='+_id+' data-name="'+val.name+'" placeholder="'+val.name+'" type="text" name="volunteer[dynamic_fields]['+val.name+']">\
					</div>';
				$('.dynamic_data').after(html);
			}
		}
		$('.submit').click(function(e){
			var inputs = $('.required');
			for(count = 0; count < inputs.length; count++){
				if($(inputs[count]).val()=="" && $(inputs[count]).data('name')!=undefined){
					e.preventDefault();
					alert("" + $(inputs[count]).data('name') + " cannot empty");
				}
			}
		});
	});
<% end %>