<div class="filter">
<select class="branch" name="branch" style="width:200px;">
  <option value="">Select Volunteer Type</option>
  <option value="Individual">Individual</option>
  <option value="Corporate">Corporate</option>
  <option value="Social">Social</option>
</select>
<input type="text" name="daterange" class="daterangepicker data" id="inputEmail3" placeholder="Date Range" />
  <select class="corp" name="corp" style="width:200px;">
    <option value="">Select Corporate</option>
    <% @corporates.each do |volunteer| %>
          <option value="<%= volunteer.name %>"><%= volunteer.name%></option>
    <%end%>
  </select>
  <select class="social" name="social" style="width:200px;">
    <option value="">Select Social</option>
    <% @socials.each do |volunteer| %>
        <option value="<%= volunteer.name %>"><%= volunteer.name%></option>
    <%end%>
  </select>
<div class="btn btn-primary generate">Generate</div>
<div class="report">
</div>
</div>
<%= javascript_tag do %>
    $(document).ready(function(){
    });
<% end %>