<%= form_for [@field] ,html: {role: "form"} do |f| %>
	<div class="form-group">
		<%= f.label :name %><br />
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :type, "Type" %>
		<%= f.text_field :type, class: "form-control", placeholder: "Type" %>
	</div>
	<div class="form-group">
		<%= f.label :required, "Is this a required field?" %>
		<%= f.text_field :required, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :tab, "Which Tab should it render to?" %>
		<%= f.text_field :tab, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :is_active, "Active?" %>
		<%= f.text_field :is_active, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :include_in_individual %>
		<%= f.text_field :include_in_individual, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :include_in_corporate %>
		<%= f.text_field :include_in_corporate, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :include_in_social %>
		<%= f.text_field :include_in_social, class: "form-control" %>
	</div>
	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<%= javascript_tag do %>
	$(document).ready(function(){
		$('input[name="field[type]"]').select2({
			multiple: false,
			data: [{id: "boolean", text: "Boolean"}, {id: "text", text: "Text"}]
		});
		$('input[name="field[required]"]').select2({
			multiple: false,
			data: [{id: "false", text: "No"}, {id: "true", text: "Yes"}]
		});
		$('input[name="field[tab]"]').select2({
			multiple: false,
			data: [{id: "1", text: "1"}, {id: "2", text: "2"}, {id: "3", text: "3"}]
		});
		$('input[name="field[is_active]"]').select2({
			multiple: false,
			data: [{id: "false", text: "No"}, {id: "true", text: "Yes"}]
		});

		$('input[name="field[include_in_individual]"]').select2({
			multiple: false,
			data: [{id: "false", text: "No"}, {id: "true", text: "Yes"}]
		});
		$('input[name="field[include_in_corporate]"]').select2({
			multiple: false,
			data: [{id: "false", text: "No"}, {id: "true", text: "Yes"}]
		});
		$('input[name="field[include_in_social]"]').select2({
			multiple: false,
			data: [{id: "false", text: "No"}, {id: "true", text: "Yes"}]
		});
	});
<% end %>